* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.calc_wrapper {
    width: 375px;
    height: 100vh;
    max-height: 812px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    background: #DFE2EB;
    padding: 0 18px 38px 19px;
    font-size: 21px;
}

.calc_process {
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    text-align: right;

    color: #A0AEC4;
}

.calc_result {
    font-weight: 400;
    font-size: 56px;
    line-height: 67px;

    text-align: right;

    color: #1D2028;
}

.btns_wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 77px);
    gap: 10px;
}

.btns_wrapper > button {
    border: none;
    border-radius: 23px;
    position: relative;
}

.btns_wrapper > button:active {

}

.btns_wrapper span {
    position: relative;
    z-index: 1;

    font-size: 21px;

}


.btns_wrapper>button::after{
    content: '';
    position: absolute;
    width: calc(100% - 11px);
    height: calc(100% - 11px);
    top: 5px;
    right: 5px;
}

.grey_btn {
    background: #B0B9CA;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15), inset 4px 4px 4px #C1C9D4;
}

.grey_btn::after {
    background: linear-gradient(134.24deg, #A0ADC4 15.47%, #C5CEDF 94.71%);
    filter: blur(1px);
    border-radius: 18px;
}


.orange_btn {
    background: #D9781F;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15), inset 4px 4px 4px #DC862D;
}

.orange_btn::after {
    background: linear-gradient(134.24deg, #DD732F 15.47%, #E28D21 94.71%);
    filter: blur(1px);
    border-radius: 18px;
}

.white_btn {
    background: #D0D3E2;
    box-shadow: 3px 3px 10px rgba(57, 62, 81, 0.24), inset 4px 4px 4px #DDE1EC;
}

.white_btn::after {
    background: linear-gradient(134.24deg, #CED2DE 15.47%, #ECEFF4 94.71%);
    filter: blur(1px);
    border-radius: 18px;
}

.zero_btn {
    grid-column: span 2;
    background: #D0D3E2;
    box-shadow: 3px 3px 10px rgba(57, 62, 81, 0.24), inset 4px 4px 4px #DDE1EC;
}

.zero_btn::after {
    background: linear-gradient(134.24deg, #CED2DE 15.47%, #ECEFF4 94.71%);
    filter: blur(1px);
    border-radius: 18px;

}
